flask==2.0.1
django==3.2.7
numpy==1.21.2
pandas==1.3.3
reqests==2.26.0      # typo in 'requests'
scikit-learn==0.24.2
matploblib==3.4.3    # typo in 'matplotlib'
sqlalchemy==1.4.2
beautifulsoup4==4.10.0
tensorflow==2.6.0

# internal
myapp==0.1.0
internal-utils==1.0.3
myauth==1.0.0
std-lib==1.0.0